
@{
    ViewData["Title"] = "ReportCreateNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<link href="~/Layout/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Layout/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/Layout/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script>
<script src="~/Layout/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.az.min.js"></script>
<script src="~/Layout/bootstrap-daterangepicker/moment.min.js"></script>
<script src="~/Layout/bootstrap-daterangepicker/daterangepicker.js"></script>

<h3 class="mb-3   text-center">Ümümi məlumatları</h3>
<div>
    <div class="col-6 offset-3 ">

        <div class="btn btn-default" title="Əməliyyat tarixi" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-left:35px;">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
    </div>
</div>

<div class="row">
    <div class="row mt-3" style="width: 100%; text-align: center;"><div class="col-6 offset-3"> <h3>Saylar</h3></div></div>
    <div class="row">
        <div class="col-3 mt-3"></div>
            <div class="col-3 mt-3">
                <label class="labelColor">Ümümi satış sayı</label>
                <input type="text" class="form-control  OrderCount " readonly />
            </div>
            <div class="col-3 mt-3">
                <label class="labelColor">Nağd satış sayı</label>
                <input type="text" class="form-control  CachOrder " readonly />
            </div>
            <div class="col-3 mt-3">
                <label class="labelColor">Kredit satış sayı</label>
                <input type="text" class="form-control   CrediteOrder" readonly />
            </div>
        </div>

    </div>
<div class="row">
    <div class="row mt-3" style="width: 100%; text-align: center; "><div class="col-6 offset-3"> <h3>Balans</h3></div></div>
    <div class="row">
        <div class="col-3 mt-3">
            <label class="labelColor">Nağd  satışdan gələn pul</label>
            <input type="text" class="form-control   CachMany" readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Ilkin ödənişdən gələn pul</label>
            <input type="text" class="form-control   FirstBalans" readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Kredit ödənişilə gələn  </label>
            <input type="text" class="form-control  CrediteMany " readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Ümümi Balans</label>
            <input type="text" class="form-control   GeneralBalans" readonly />
        </div>
    </div>
    
   
</div>

<div class="row">
    <div class="row mt-3" style="width: 100%; text-align: center; "><div class="col-6 offset-3">  <h3>Umumi veziyyet </h3></div></div>
    <div class="row">

        <div class="col-3 mt-3">
            <label class="labelColor">Balans (Satilan mallarindan qalan borcdan odenilen)</label>
            <input type="text" class="form-control  GeneralMany " readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Ümümi satiş(Satilan mallarin total cemi)</label>
            <input type="text" class="form-control   SaleMany" readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Ödənməli pulun miqdari (Secilen vaxt araligindaki ayliq odenislerin odemiyenlerin cemi) </label>
            <input type="text" class="form-control   NeededMany" readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Borc (Secilen vaxtda borclarin cemi)</label>
            <input type="text" class="form-control  Debt " readonly />
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Qazanc(Secilen vaxta qazanc maya ile satis arasinda ferq)</label>
            <input type="text" class="form-control   income" readonly />
        </div>
    </div>
  

</div>
 

<script src="~/CustomScript/Scripts/ReportCreateNew.js"></script>
