@model Parfume.Models.User;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<script src="~/CustomScript/Scripts/ChangePass.js"></script>
<h3 class="mb-3 mt-5 text-center">İstifadəçi məlumatları</h3>
<div class="row text-center">
    <div class="col-6 offset-3 ">
        <label class="labelColor">Adı,soyadı</label>
        <input type="text" class="form-control text-center" readonly value="@Model.Name @Model.Surname" />
    </div>
    <div class="col-6 offset-3">
        <label class="labelColor">Fin kod</label>
        <input type="text"   class="form-control text-center" readonly value="@Model.Fincode" />
    </div>
    <div class="col-6 offset-3">
        <label class="labelColor">Köhnə parol</label>
        <input type="text"   class="form-control oldPass  " />
    </div>
    <div class="col-6 offset-3">
        <label class="labelColor">Yeni parol</label>
        <input type="text" class="form-control  newPass " />
    </div>
    

    <div class="col-6 offset-3">
        <input type="button" class="btn ChangePass" style="background: #c79957; margin-top: 12%; " value="Qeydə al" />
    </div>
</div>