@model IList<Seller>
@{
    ViewData["Title"] = "ReportCreateNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Layout/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Layout/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/Layout/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script>
<script src="~/Layout/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.az.min.js"></script>
<script src="~/Layout/bootstrap-daterangepicker/moment.min.js"></script>
<script src="~/Layout/bootstrap-daterangepicker/daterangepicker.js"></script>


<h3 class="mb-3   text-center">Ümümi məlumatları</h3>
<div class="row">
    <div class="col-4">
            <div class="btn btn-default" title="Əməliyyat tarixi" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-left:35px;">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
    </div>
    <div class="col-3">
        <select class="form-control sellerId">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name </option>
            }
        </select>

    </div>
    <div class=" col-3 ml-4"> <input class="btn btn-success" value="Bax" id="RepotStart" /></div>
</div>
<div class="contairner resultCash"></div>

 
<script src="~/CustomScript/Scripts/Seller.js"></script>