
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Rasxod</h1>
<div class="row">
    <div class="col-4">
        <label class="labelColor">Adı</label>
        <input class="form-control name" />
    </div>
    <div class="col-4">
        <label class="labelColor">Miqdarı</label>
        <input type="number" class="form-control money" />
    </div>
    <div class="col-4">
            <label class="labelColor">Tarix</label>
            <div class="input-group date" id="datetimeExpense" data-target-input="nearest">
                <input type="text" required data-val-required="Vaxtı qeyd etməlisiz" id="Create_Date" class="form-control datetimepicker-input" data-target="#datetimeExpense" />
                <div class="input-group-append" data-target="#datetimeExpense" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-2 offset-5">
        <input type="button" class="btn btn-success sendExpense" value="Yadda saxla" />

    </div>

</div>
<script src="~/CustomScript/Scripts/Expense.js"></script>