@model Parfume.Models.Customer
@{
    ViewData["Title"] = "CustomerEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/CustomScript/Scripts/CustomerEdit.js"></script>
<div class=" contairner">
    <h3 class="mb-3   text-center">Qeyd əlavə olunması</h3>
    <div class="row text-center">
        <div class="col-3 mt-3">
            <label class="labelColor">Qeyd</label>
            <textarea class="form-control noteCustomer">@Model.Note</textarea>
        </div>
        <div class="col-3 mt-3">
            <label class="labelColor">Doğum tarixı</label>
            <div class="input-group date" id="Birthdate" data-target-input="nearest">
                <input type="text" required data-val-required="Vaxtı qeyd etməlisiz" id="Birth_Date" class="form-control datetimepicker-input" data-target="#Birthdate" />
                <div class="input-group-append" data-target="#Birthdate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <input hidden class="customerId" value="@Model.Id" />
        <div class="col-3 mt-3">
            <button style="height: 50%; margin-top: 13%;" class="btn btn-success addNoteCustomer">Yadda saxla</button>
        </div>

    </div>
</div>



