@model  Card
@{
    ViewData["Title"] = "CreateCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/CustomScript/Scripts/CreateCard.js"></script>
<div class=" contairner">
    <h3 class="mb-3   text-center">Kart dəyışdirilməsi</h3>
    <input hidden class="cardId" value="@Model.Id" />
    <div class="row text-center">
        <div class="col-3 mt-3">
            <label class="labelColor">Kartin adı</label>
            <input class="form-control CardName" value="@Model.Name" />
        </div>
        <div class="col-3 mt-3">
            <button style="height: 50%; margin-top: 13%;" class="btn btn-success changeCard">Yadda saxla</button>
        </div>

    </div>
</div>



