@model List<Parfume.Models.Card>
@{
    ViewData["Title"] = "CustomerEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/CustomScript/Scripts/ChangeCard.js"></script>
<div class=" contairner">
    <h3 class="mb-3   text-center">Qeyd əlavə olunması</h3>
    <div class="row text-center">
        <input hidden class="customerId" value="@ViewBag.CustomerId" />
        <div class="col-4">
            <select class="form-control cardInfo">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="col-3 mt-3">
            <button style="height: 50%; margin-top: 13%;" class="btn btn-success changeCardCustomer">Yadda saxla</button>
        </div>

    </div>
</div>



